<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="swagger/favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="data/style.css">
    <title>Welcome to FluidServer!</title>
</head>
<body>
    <div class="section1">
        <h1><img src="data/favicon.png" width="40px" height="40px" style="vertical-align: -10%;"> FluidServer</h1>
    </div>
    <div class="section2">
        <h1>Welcome!</h1>
        <p>Thanks for choosing FluidServer, a open-source POS system server that is easily scalable, developable and easy-to-use.<br>
            Make sure that your server is currently running using a production WSGI server (check your logs!), like uWSGI.<br>
            FluidServer also comes with Swagger UI and built-in documentation for easy setup and easy development.</p>
    </div>
    <div class="section3">
        <h1>Links</h1>
        <p>FluidServer comes with tools like Swagger UI and documentation. Check it out!<br>
            <a href="/apidocs">Open Swagger UI</a><br>
            <a href="/docs">Open Documentation</a>
        </p>
    </div>
    <div class="section4">
        <h1>About FluidServer</h1>
        <p>FluidServer, a open-source POS-system server by biitle.nl<br>
            Built by clue &lt;lost@biitle.nl&gt;
            Licensed under MIT.
            <br>
            Source code available <a href="githublinkhere">here</a>.
        </p>
    </div>
    <div class="section5">
        <h1>FluidServer {{version}}, by <a href="https://biitle.nl">biitle.nl</a></h1>
    </div>
</body>
</html>